
dt.question { 
              font-family: italic;
              background-color: lightgray;
              margin-top:  20pt;
              padding: 5pt;
            }

dd.answer { 
    margin-top:  12pt;
    margin-bottom:  10pt;
    background-color: lightgray;    
  }

p.date { 
  text-align: right;
  color: red
 } 